* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-size: 15px;
  font-family: "Spartan";

  background-color: var(--White);

  min-height: 100vh;
  min-width: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("./images/bg-pattern-top-mobile.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 10px 0px, 300px 70px;
}

.main {
  padding: 10px;
  width: 1100px;
  height: 500px;
  margin: auto;
}

.top {
  display: flex;
  flex-grow: 0;
}

.mainContainer {
  width: 550px;
  height: 250px;
  padding-right: 92px;
}

.mainContainer > h1 {
  color: var(--VeryDarkMagenta);
  font-size: 40px;
  font-weight: 700;
}

.mainContainer > p {
  color: var(--DarkGrayishMagenta);
  padding-top: 10px;
}

.starsContainer {
  width: 550px;
  height: 250px;

  color: var(--VeryDarkMagenta);
  font-size: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starsContainer > div {
  background-color: var(--LightGrayishMagenta);
  border-radius: 10px;
  padding: 15px;
  margin: 11px;
}

#starsLeft {
  margin-left: -110px;
}

#starsRight {
  margin-right: -90px;
}

.peopleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1100px;
  height: 250px;
}

.peopleContainer > div {
  width: 350px;
  height: 220px;
  background-color: var(--VeryDarkMagenta);

  border-radius: 10px;
  padding: 30px;
}

.peopleTitle {
  display: flex;
}

.peopleTitle > img {
  border-radius: 50%;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.peopleTitle > div > h2 {
  color: var(--White);
  font-size: 15px;
}

.peopleContainer > div > p {
  color: var(--White);
  padding-top: 30px;
}

#peopleTop {
  margin-top: -40px;
}

#peopleBottom {
  margin-bottom: -40px;
}
